/*adding in for the popup box*/
#dropElem {
    display: none;
    position: absolute;
    top: 0;
    border-radius: 10px 10px 10px 10px;
    
    padding: 20px;
    background: #fff;
}
#shadowElem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}
#dropContent {
    position: relative;
}
#dropClose {
    position: absolute;
    z-index: 99999;
    cursor: pointer;
    top: -32px;
    right: -30px;
    padding: 5px;
    background-color: black;
    border-radius: 6px 6px 6px 6px;
    color: #fff;
}
